p{
	text-align: center;
}
.img-responsive{
	margin: 0 auto;
}
body{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Walnut_chocolate_chip_cookies,_May_2009.jpg/1280px-Walnut_chocolate_chip_cookies,_May_2009.jpg");
}

.cookie_title{
	font-family: Consolas, monaco, monospace;
  font-style: normal;
  font-variant: normal;
  color: white;

}



.screen1{
	background-color: rgba(52,66,90,0.5)!important;
	z-index: 2;
}
.container{
	background-color: transparent !important;
}
.col-md-2
{
	width: 16%;
	left: 3%;
}
.col-md-3 p
{
	text-align: left;
	color: white;
	left: 2%;
}

.form-group
{
	max-width: 20%;
	left: 2%;
.formc{
	left: 2%;
}
}
.thumbnail
{
	background-color: rgba(255,255,255,0.6);
}
.panel
{
	background-color: rgba(255,255,255,0.6);
}
.correo, .datos, .direccion, .checkbox
{
	color: white!important;
}