
.img-responsive{
	margin: 0 auto;
}

.cookie_title{
	font-family: Consolas, monaco, monospace;
  font-style: normal;
  font-variant: normal;
  color: white;

}

.cookie_title{
	font-size: 6vw;
}
.screen1{
	background-color: rgba(52,66,90,0.5)!important;
	z-index: 2;
	max-width: 1200px;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Walnut_chocolate_chip_cookies,_May_2009.jpg/1280px-Walnut_chocolate_chip_cookies,_May_2009.jpg");
	margin: auto;
	font-family: Consolas, monaco, monospace !important;
}
.container{
	background-color: transparent !important;
}
.col-md-2
{
	width: 16%;
	left: 3%;
}
.col-md-3 p
{
	text-align: left;
	color: white;
	left: 2%;
}


.formc{
	left: 2%;
	max-width: 500px;

}
.thumbnail
{
	background-color: rgba(255,255,255,0.6);
}
.panel
{
	background-color: rgba(255,255,255,0.6);
}
.correo, .datos, .direccion, .checkbox, .temp1
{
	color: white!important;
}